.App {
     display: flex;
     justify-content:center;
     align-items: center;
     width:100vw;
     height:100vh;
     background: rgb(238, 245, 238);
     font-family: Arial, Helvetica, sans-serif;

}